<h1><%= @restaurant.name %></h1>
  <em><%= @restaurant.address %></em><br />
  <em><%= @restaurant.neighborhood %></em><br />
  <em><%= @restaurant.price %></em><br />
  
<hr/>

<p>
  <strong><em><%= @restaurant.teaser %></em></strong><br />
</p>
  <strong><em>Popular menu items: </em></strong><em><%= @restaurant.menu %></em><br />
  <strong><em>Quotable: </em></strong><em><%= @restaurant.summary %></em><br />
  <strong><em>Number of available timeslots: <em/></strong><em><%= @restaurant.timeslots %></em>
</p>